			h1 {
				color: coral;
				
			}

			img {
			  width: 400px;
			}

			#thirdDiv {
				width: 500px;
				height: 600px;
				background-color: saddlebrown;
				padding: 50px;
				border: darkorange;
				border-style: dotted;
				border-width: 3px;
			}

			#spanId {
				font-size: 18px;
				margin: 50px;
			}